.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.noData {
    color: #fff;
    font-size: 1rem;
  }
.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}
.container>h1>span{
    color: #3ab8fb;
    font-family:monospace;
}
.container>h1{
    color: white;
    font-family:monospace;
    font-size: 50px;
}
.inputs{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.inputs>input{
    width: 250px;
    height: 2.88rem;
    border: none;
    background-color: white;
    font-family:monospace;
    text-align: center;
    border-radius: 10px;
}
.inputs>button{
    height: 3rem;
    border: none;
    background-color: #3ab8fb;
    color: white;
    font-family:monospace;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
}
.inputs>button:hover{
    height: 3rem;
    border: none;
    background-color: white;
    color: #3ab8fb;
    font-family:monospace
}
.results{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.results>p{
    display: flex;
    flex-direction: column;
    font-family:monospace;
    font-size: larger;
    box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255);
    height: 3rem;
    width: 225px;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
}
.results>button{
    height: 3rem;
    border: none;
    background-color: #ffffff;
    color: #3ab8fb;
    font-family:monospace;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}
.results>button:hover{
    background-color: #3ab8fb;
    color: #ffffff;
    
}
